   <footer id="site-footer" class="clearfix" role="contentinfo"> 
    <div class="ht-container"> 
     <style>
          .flink-class a {
              line-height: 20px;
          }
      </style> 
     <div class="flink-class" style="max-width: 550px;float: left;margin-top: 30px;margin-left: 30px;">
      <strong>友情链接：</strong> 
	  {{ range .Site.Data.links }}
      <a href="{{ .url }}" target="_blank" rel="noopener">{{ .name }}</a> | 
	  {{ end }}
     </div> 
	 
	 
	 <ul>


	 
	 

	 
     <small id="copyright">

	 <p style="text-align: center;"><a href="https://beian.miit.gov.cn" target="_blank" rel="noopener">{{ index .Site.Params.beian "beian" }}</a></p>

	 <p style="text-align: center;"><strong>真正好用的Linux命令在线查询手册</strong><a id="dididomian1" style="padding: 0px; margin: 0px; font-family: 'Microsoft yahei', PingFangSC-Regular; color: #ff1122; font-size: 15px; position: relative;" data-tips="关键词已经复制成功，请到您的网站添加吧(#^.^#)" data-clipboard-action="copy" data-clipboard-target="#dididomian1"></a></p>
	 </small> 
    </div> 
   </footer> 
  </div> 
  
  <script src="/js/search.js"></script>
  <script type="text/javascript" src="/js/ht-glossary-frontend.js" id="htgb-custom-js-js"></script> 
  <script type="text/javascript" src="/js/script.min.js" id="ht_toc-script-js-js"></script> 
  <script type="text/javascript" src="/js/shortcodes.js" id="shortcodes-js-js"></script> 
  <script type="text/javascript" src="/js/functions.js" id="st_theme_custom-js"></script> 
  <script type="text/javascript" src="/js/livesearch.js" id="st_live_search-js"></script>   
  